{% extends "polls/base.html" %}
{% load static %}

{% block content %}
    <div class="py-2 has-text-centered">
        <a href="{% url 'polls:detail' question.id %}" class="title">{{ question.question_text }}</a>
        <h4 class="is-size-6">{{ question.create_when_was_posted_string }}, by <a href="{% url 'users:profile_page' question.user.username %}">{{question.user}}</a></h4>
        {% if question.ends_on %}
            <h4 class="is-size-6">{{ question.create_ends_on_string }}</h4>
        {% endif %}
    </div>

    <div class="box">
        {% if error_message %}<p class="my-2 is-size-5 has-text-weight-semibold has-text-info">{{ error_message }}</p>{% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <div class="field">
                    <div class="control">
                        <input class="is-hidden" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}" class="custom-radio input radio has-text-centered">
                                {{ choice.choice_text }}
                            </label>
                        </input>
                    </div>
                </div>
            {% endfor %}
            {% if question.has_ended %}
                <div class="py-3">
                    <p class="my-2">This poll has ended, voting is no longer possible.</p>
                </div>
            {% else %}
                {% if user.is_authenticated %}
                    <input class="button is-primary" type="submit" value="Vote">
                {% else %}
                    <div class="py-3">
                        <p class="my-2">You need to be logged in to vote. <a class="ml-1 has-color-link" href="{% url 'users:register'%}">Register</a> or <a class="ml-1 has-color-link" href="{% url 'users:login'%}">Log in</a> here.</p>
                    </div>
                {% endif %}
            {% endif %}
        </form>
    <a class="mt-2 button is-info" href="{% url 'polls:results' question.id %}">To results</a>

    {% if object.user == user %}
        <a class="mt-2 button is-link" href="{% url 'polls:edit-question' question.id %}">Edit</a>
        <a class="mt-2 button is-danger" href="{% url 'polls:delete-question' question.id %}">Delete</a>
    {% endif %}
    </div>
{% endblock content %}
