{% extends "polls/base.html" %}
{% load myfilters %}

{% block content %}

    <section class="section">
        <form method="POST">
            {% csrf_token %}
            <fieldset="form-group">
                <legend class='subtitle mb-4'>
                    Edit poll
                </legend>
                <p class="subtitle is-size-6">Edit your poll here!</p>
                <div class="field">
                    <label class="label">Question</label>
                    <div class="control">
                        {{ form.question_text|setupinputfield:'Question text' }}
                    </div>
                </div>
                <label class="label">Choices</label>
                {{ formset.management_form }}
                {% for q_form in formset %}
                    <div class="field">
                        <div class="control">
                            {{ q_form.id }}
                            {{ q_form.choice_text.content }}
                            {{ q_form.choice_text|setupinputfield:"Choice" }}
                            {{ q_form.errors.choice_text }}
                            {% comment %} {% if q_form.errors %}
                                {% for q_err in q_form.errors %}
                                    {{ q_err.as_p }}
                                {% endfor %}
                            {% endif %} {% endcomment %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="button" type="submit">Post</button>
            </div>
        </form>
    </section>

{% endblock content %}