{% extends "polls/base.html" %}

{% block content %}
    <h1 class="title py-2 has-text-centered">The latest polls</h1>

    <div class="columns is-3 is-multiline is-vcentered is-variable">
        {% if latest_question_list %}
            {% for question, index in latest_question_list %}
                {% if index %}
                    <a class="column my-2 is-one-third has-text-centered has-background-light" href="{% url 'polls:detail' question.id %}">{{ question.short_string }}</a>
                {% else %}
                    <a class="column my-2 is-one-third has-text-centered has-background-grey-lighter" href="{% url 'polls:detail' question.id %}">{{ question.short_string }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="column">
            <p class="has-text-centered subtitle">No polls are available.</p>
        </div>
        {% endif %}
    </div>
{% endblock content %}
