{% extends "polls/base.html" %}

{% block content %}
    <h1 class="title py-2 has-text-centered">The latest polls</h1>

    <div class="columns is-3 is-multiline is-vcentered is-variable">
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                {% if question.pk_is_odd %}
                    <a class="column my-2 is-one-third has-text-centered has-background-light" href="{% url 'polls:detail' question.id %}">{{ question.short_string }}</a>
                {% else %}
                    <a class="column my-2 is-one-third has-text-centered has-background-white" href="{% url 'polls:detail' question.id %}">{{ question.short_string }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
{% endblock content %}
