{% extends "polls/base.html" %}
{% load myfilters %}

{% block content %}

    <section class="section">
        <form method="POST">
            {% csrf_token %}
            <fieldset="form-group">
                <legend class='subtitle mb-4'>
                    Create a new poll
                </legend>
                {{ form.media }}
                <div class="field">
                    <label class="label">Question</label>
                    <div class="control">
                        {{ form.question_text|setupinputfield:'Question text' }}
                    </div>
                    <label class="label">Ends on: <p class="is-size-7">(If you want this poll to run indefinitely, just leave this field empty)</p></label>
                    <div class="control">
                        {{ form.ends_on }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Choices</label>
                    {{ formset.management_form }}
                    <div class="control">
                    {% for q_form in formset %}
                        {{ q_form.choice_text|setupinputfield:'Choice' }}
                    {% endfor %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="button" type="submit">Post</button>
            </div>
        </form>
    </section>

{% endblock content %}