{% extends "polls/base.html" %}
{% load myfilters %}

{% block content %}

    <section class="section">
        <form method="POST">
            {% csrf_token %}
            <fieldset="form-group">
                <legend class='subtitle mb-4'>
                    Reset Password
                </legend>

                {% for field in form %}
                    <div class="field my-4">
                        <label class="label">{{ field.label }}</label>
                    </div>
                    <div class="control my-4">
                        {{ field|setupinputfield:field.label }}
                        <p class="has-text-danger-dark">{{ field.errors.as_text }}</p>
                    </div>
                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="button" type="submit">Reset Password</button>
            </div>
        </form>
    </section>

{% endblock content %}