{% extends "polls/base.html" %}
{% load myfilters %}

{% block content %}

    <section class="section">
        <form method="POST">
            {% csrf_token %}
            <fieldset="form-group">
                <legend class='subtitle mb-4'>
                    Reset Password
                </legend>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {{ form.email|setupinputfield:'Email' }}
                        {{form.errors}}
                        <p class="has-text-danger-dark">{{ form.errors.as_text }}</p>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="button" type="submit">Request Password Reset</button>
            </div>
        </form>
    </section>

{% endblock content %}