{% extends "polls/base.html" %}
{% load myfilters %}

{% block content %}

    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth">
                <img class="" src="{{ profile.profile_pic.url }}">
            </div>
            <div class="column has-text-left">
                <h2 class="title">{{ user.username }}'s profile</h2>
                <h2 class="subtitle">{{ user.email }}</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="title">{{ user.username }}'s polls</h2>
        <div class="columns is-3 is-multiline is-vcentered is-variable">
            {% if questions %}
                {% for question, index in questions %}
                    {% if index %}
                        <a class="column my-2 is-one-third has-text-centered has-background-light" href="{% url 'polls:detail' question.id %}">{{ question.short_string }}</a>
                    {% else %}
                        <a class="column my-2 is-one-third has-text-centered has-background-grey-lighter" href="{% url 'polls:detail' question.id %}">{{ question.short_string }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div class="column">
                <p class="has-text-centered subtitle">No polls from this user yet!</p>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock content %}