{% extends "polls/base.html" %}
{% load myfilters %}

{% block content %}

    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth">
                <img class="" src="{{ user.profile.profile_pic.url }}">
            </div>
            <div class="column has-text-left">
                <h2 class="title">{{ user.username }}</h2>
                <h2 class="subtitle">{{ user.email }}</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <form method="POST">
            {% csrf_token %}
            <fieldset="form-group">
                <legend class='subtitle mb-4'>
                    Change Profile
                </legend>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        {{ form.username|setupinputfield:'Username' }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {{ form.email|setupinputfield:'Email' }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="button" type="submit">Save changes</button>
            </div>
        </form>
    </section>

{% endblock content %}